*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
}
body{
    font-family: poppins,sans-serif;
    background-color: rgba(24, 22, 22, 0.558);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60px;
    background-color: rgba(0, 0, 0, 0.368);
    } 


nav ul{
    display: flex;
    
    justify-content: center;
    } 

nav ul li{ 
    list-style: none;
    margin: 0 23px;   
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}
h1{
    text-align: center;
    padding: 100px 20px;
}
p{
    text-align: center;
    color: burlywood;

}

   



   





