* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

/* Background video */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  color: white;
  z-index: 10;
  position:sticky;
}

.left {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Nav links */
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #0ef;
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.search-box input {
  border: none;
  padding: 5px 8px;
  outline: none;
  width: 160px;
}

.search-box button {
  border: none;
  background: #0ef;
  padding: 5px 8px;
  cursor: pointer;
}
.hero {
  text-align: center;
  color: rgba(0, 0, 0, 0.827);
  margin-top: 120px;
}

.hero h1 {
  font-size: 2.2rem;
}

.hero p {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(100, 49, 31, 0.917);
  margin-top:5%;
  
}


